body {
    font-family: 'DM Sans', 'Verdana', 'Arial';
    color: #165c66;
    width: 840px;
}

h1,
h2 {
    font-family: 'Poetsen One', 'Verdana', "Arial";
    color: #fe4a49;

}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.8;
    background-color: #FED766;


}

.hero article {
    position: absolute;
}

.separator {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

header img {
    margin: 10px;
    align-self: center;
    justify-self: center;
}

header {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
}



.history-section img {
    width: 200px;
    display: block;
}

.adventure-section {
    display: grid;
    grid-template-columns: repeat(5, auto);
    align-items: center;
    justify-items: center;
    gap: 10px;
}

.adventure-section img {
    width: 100%;
    min-height: 100px;
}

.adventure-section h2 {
    grid-column: 1/6;
}

.adventure-section p {
    margin: 0;
    padding: 1px;
    text-align: center;
}

.history-section {
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    justify-items: center;


}

.history-section h2 {
    grid-column: 1/4;
}

header,
main {

    margin: 0 auto;
}



header {
    background-color: #F4F4F8;
    color: #2AB7CA;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
    opacity: 0.8;

}

article p {
    color: #F4F4F8;
    opacity: 1;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article {
    position: absolute;
    bottom: 10px;
    background-color: #fe4a49;
    border-radius: 10px;

}

.hero article img {
    width: 125px;
    float: right;
}

.socialmedia a {
    text-decoration: none;
}

footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}