body {
    font-family: 'DM Sans', 'Verdana', 'Arial';
    color: #003761;
    width: 840px;
    background-color: white;
}

h1,
h2 {
    font-family: 'Poetsen One', 'Verdana', "Arial";
    color: #7a0000;

}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.8;
    background-color: #FED766;


}

.hero article {
    position: absolute;
    opacity: 0.8;
}

.separator {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

header a {
    color: black;
}

header a:visited {
    color: #380066;
}

header img {
    margin: 10px;
    align-self: center;
    justify-self: center;
}

header {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
}



.history-section img {
    width: 200px;
    display: block;
}

.adventure-section {
    display: grid;
    grid-template-columns: repeat(5, auto);
    align-items: center;
    justify-items: center;
    gap: 10px;
}

.adventure-section img {
    width: 100%;
    min-height: 100px;
}

.adventure-section h2 {
    grid-column: 1/6;
}

.adventure-section figcaption {
    margin: 0;
    padding: 0px;
    text-align: center;
}

.history-section {
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    justify-items: center;
    background-color: #ffffff;
    border-radius: 1rem;


}

.history-section h2 {
    grid-column: 1/4;
}

header,
main {

    margin: 0 auto;
}



header {
    background-color: #F4F4F8;
    color: #2AB7CA;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;


}

article p {
    color: #F4F4F8;
    opacity: 1;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article {
    position: absolute;
    bottom: 10px;
    background-color: #4b1616;
    border-radius: 10px;

}

.hero article img {
    width: 125px;
    float: right;
}

.socialmedia a {
    text-decoration: none;
}

footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

table {
    border: 2px solid rgb(140 140 140);


}

.employees-section {
    display: grid;
    grid-template-columns: auto auto auto;
    place-items: center;


}

.company-section {
    margin: 0 auto;
    display: grid;
    text-align: center;

}

.employees-section h2 {
    grid-column: 1/4;
    margin: 1em;
}

.employee {
    text-align: center;
}

.employee img {
    max-width: 150px;
}

td,
th {
    text-align: center;
    padding: .5rem;
    border: 1px solid black;
}

.column1 {
    grid-template-columns: 1fr 2fr;
}

.column2 {
    grid-template-columns: 1fr 1fr;
}

.column3 {
    grid-template-columns: 5fr 1fr;
}

legend {
    font-size: 1.3em;
    margin: 1em;
}

fieldset {
    display: grid;
}

input {
    padding: 0.5em;
    font-size: 1rem;
}

.section-contact h2 {
    text-align: center;
    margin: 1em;
}

form {
    display: grid;
    background-color: #F4F4F8;
    width: 650px;
    margin: 0 auto;

}

.form-item {
    display: grid;
    align-items: center;
    padding: 0.5em;
}

.form-contact label {
    text-align: center;
    font-size: 1.5rem;
}

.column2 label {
    text-align: right;
    font-size: 1em;

}

.reason {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
}

.reason p {
    text-align: right;
    font-size: 1.2rem;
    vertical-align: bottom;

}

input[type="radio"],
input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

button {
    margin: 1rem;
    background-color: #7a0000;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    padding: .75rem;
    font-size: 1.2rem;
}

.h1-contact {
    text-align: center;
    margin: 2rem ;
}